<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slut.simrec">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.v.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pswd.master.type.v.MasterTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pswd.master.grid.v.GridPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".pswd.unlock.grid.v.GridUnlockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".pswd.create.v.PswdNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".pswd.category.defaultcat.v.DefaultCatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pswd.category.select.v.CategoryOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pswd.category.detail.v.PassCatDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pswd.master.pattern.PatternPassActivity" />
        <activity
            android:name=".pswd.master.text.v.TextPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".pswd.unlock.text.v.TextUnlockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity android:name=".pswd.unlock.pattern.PatternUnlockActivity" />
        <activity
            android:name=".pswd.detail.v.PassDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".pswd.search.v.PassSearchActivity"></activity>
    </application>

</manifest>